<div class="a1-component">
  <div class="a1-from-div">

    <div class="submiter-div">
      <mat-form-field appearance="fill">
        <mat-label>Podnosilac</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Select</mat-label>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="piece-div">
      <mat-form-field appearance="fill">
        <mat-label>Delo</mat-label>
        <input matInput>
      </mat-form-field>
    </div>
  </div>

  <div class="a1-submit-row">
    <button mat-raised-button color="warn">Odustani</button>
    <button mat-raised-button color="primary">Podnesi Zahtev</button>
  </div>
</div>

