<div>
  <div *ngIf="isUnknown">
    <label>Nepoznati autor</label>
  </div>
  <div *ngIf="!isUnknown && isAlive">

    <div>
      <euprava-person [person]="aliveAuthor.podaci_autor"></euprava-person>
    </div>
    <div *ngIf="aliveAuthor.pseudonim_znak_autora !== null">
      <label>Potpis: {{aliveAuthor.pseudonim_znak_autora}}</label>
    </div>
  </div>

  <div *ngIf="!isUnknown && !isAlive">

    <div>
      <label>{{deadAuthor.ime}} {{deadAuthor.prezime}}</label>
    </div>
    <div *ngIf="deadAuthor.pseudonim_znak_autora !== null">
      <label>Potpis: {{deadAuthor.pseudonim_znak_autora}}</label>
    </div>
    <div>
      <label >Datum smrti: {{deadAuthor.datum_smrti | date : "dd.MM.yyyy."}}</label>
    </div>
  </div>
</div>
