
<div style="display: flex; flex-direction: row;">
  <div style="margin-right: 2%;">
    <div>
      <label>Naslov: {{piece.title}}</label>
    </div>
    <div>
      <label>Vrsta djela: {{piece.type}}</label>
    </div>
    <div>
      <label>Forma zapisa djela: {{piece.writeFrom}}</label>
    </div>
    <div *ngIf="piece.inWorkRelationship">
      <label>Kreirano u radnom odnosu</label>
    </div>
    <div *ngIf="piece.typeOfUse !== null">
      <label>Nacin upotrebe djela: {{piece.typeOfUse}}</label>
    </div>
  </div>
  <div style="margin-right: 2%;">
    <div style="display: flex; flex-direction: row;">
      <mat-card-subtitle style="margin-right: 2%;">Autori </mat-card-subtitle>
      <div *ngFor="let author of piece.authors" >
        <mat-card-content>
          <euprava-author [author]="author"></euprava-author>
        </mat-card-content>

      </div>
    </div>
  </div>
</div>
<div>
    <div style="display: flex; flex-direction: row;">
      <div *ngIf="piece.originalPiece !== undefined">
        <mat-card-content>
          <mat-card-subtitle>Originalno djelo</mat-card-subtitle>
          <euprava-original-piece [originalPiece]="piece.originalPiece"></euprava-original-piece>
        </mat-card-content>

      </div>
    </div>

</div>

