<div class="main-profile-div">
  <div class="profile-info-div">
    <div>
      <mat-radio-group style="display: flex; gap: 24px; margin: 20px;">
        <mat-radio-button class="column-half" [value]="'A1'" [checked]="tableType==='A1'" (change)="handleTableChange('A1')">A1</mat-radio-button>
        <mat-radio-button class="column-half" [value]="'P1'" (change)="handleTableChange('P1')">P1</mat-radio-button>
        <mat-radio-button class="column-half" [value]="'Z1'" (change)="handleTableChange('Z1')">Z1</mat-radio-button>
      </mat-radio-group>
    </div>
    <div style="display: flex;flex-direction: row; width: 80%;align-items: center;">
      <mat-form-field style="width: 100%;" appearance="fill">
        <mat-label>Filter</mat-label>
        <input matInput  placeholder="Ex. Pisano" [(ngModel)]="filter">
      </mat-form-field>
      <button  mat-raised-button style="height: 40px; width: 40px;margin-left: 5%;" color="primary" (click)="searchFilter()"><mat-icon>search</mat-icon></button>
      <button  mat-raised-button style="height: 40px; width: 40px;margin-left: 1%;" color="warn" (click)="clear()">	<mat-icon>refresh</mat-icon></button>
    </div>
    <div *ngIf="tableType === 'A1'" class="table-container">
      <table mat-table [dataSource]="requests" class="mat-elevation-z8" *ngIf="loaded" #table style="background-color: rgb(238, 238, 238);">

        <!-- ID -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header sortActionDescription="Sort by number">Id</th>
          <td mat-cell *matCellDef="let request">{{request.id}}</td>
        </ng-container>


        <ng-container matColumnDef="submitterName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Podnosilac</th>
          <td mat-cell *matCellDef="let request">{{request.submitterName}}</td>
        </ng-container>

        <!-- First Name -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tip</th>
          <td mat-cell *matCellDef="let request">{{request.type}}</td>
        </ng-container>

        <!-- Last Name -->
        <ng-container matColumnDef="submitDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Datum podnosenja</th>
          <td mat-cell *matCellDef="let request">{{request.submitDate}}</td>
        </ng-container>

        <!-- Email -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let request">{{request.status}}</td>
        </ng-container>

        <ng-container matColumnDef="pdf">
          <th mat-header-cell *matHeaderCellDef>PDF</th>
          <td mat-cell *matCellDef="let request">
            <button type="button"   mat-button   (click)="downloadPDF(request)"><mat-icon>get_app</mat-icon></button>
          </td>
        </ng-container>

        <ng-container matColumnDef="html">
          <th mat-header-cell *matHeaderCellDef>HTML</th>
          <td mat-cell *matCellDef="let request">
            <button type="button"   mat-button  (click)="downloadHTML(request)"><mat-icon>get_app</mat-icon></button>
          </td>
        </ng-container>

        <ng-container matColumnDef="rjesenje">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let request">
            <button *ngIf="request.status !== 'PODNESEN'" type="button" color="primary" style="width: 100px;"  mat-raised-button  (click)="getRjesenje(request)">Rjesenje</button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let request; columns: displayedColumns;" ></tr>
      </table>
    </div>
    <div *ngIf="tableType === 'Z1'" class="table-container">
      <table mat-table [dataSource]="z1Requests" class="mat-elevation-z8" *ngIf="loadedZ1" #table style="background-color: rgb(238, 238, 238);">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header>ID</th>
          <td mat-cell *matCellDef="let request">{{request.id}}</td>
        </ng-container>
        <ng-container matColumnDef="podnosilac">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header>Podnosilac</th>
          <td mat-cell *matCellDef="let request">{{request.podnosilac}}</td>
        </ng-container>
        <ng-container matColumnDef="punomocnik">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Podnosilac</th>
          <td mat-cell *matCellDef="let request">{{request.punomocnik}}</td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tip</th>
          <td mat-cell *matCellDef="let request">{{request.status}}</td>
        </ng-container>
        <ng-container matColumnDef="pdf">
          <th mat-header-cell *matHeaderCellDef>PDF</th>
          <td mat-cell *matCellDef="let request">
            <button type="button"   mat-button   (click)="downloadPDF(request)"><mat-icon>get_app</mat-icon></button>
          </td>
        </ng-container>
        <ng-container matColumnDef="html">
          <th mat-header-cell *matHeaderCellDef>HTML</th>
          <td mat-cell *matCellDef="let request">
            <button type="button"   mat-button  (click)="downloadHTML(request)"><mat-icon>get_app</mat-icon></button>
          </td>
        </ng-container>
        <ng-container matColumnDef="rjesenje">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let request">
            <button type="button" color="primary" style="width: 100px;"  mat-raised-button>Odobri</button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsZ1"></tr>
        <tr mat-row *matRowDef="let request; columns: displayedColumnsZ1;" ></tr>
      </table>
    </div>

    <div *ngIf="tableType === 'P1'" class="table-container">
      <table mat-table [dataSource]="p1Requests" class="mat-elevation-z8" *ngIf="loadedP1" #table style="background-color: rgb(238, 238, 238);">
        <ng-container matColumnDef="brojPrijave">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header>Broj prijave</th>
          <td mat-cell *matCellDef="let request">{{request.brojPrijave}}</td>
        </ng-container>
        <ng-container matColumnDef="nazivPronalaska">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header>Naziv pronalaska</th>
          <td mat-cell *matCellDef="let request">{{request.nazivPronalaska}}</td>
        </ng-container>
        <ng-container matColumnDef="podnosilac">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header>Podnosilac</th>
          <td mat-cell *matCellDef="let request">{{request.podnosilac}}</td>
        </ng-container>
        <ng-container matColumnDef="priznatiDatumPodnosenja">
          <th mat-header-cell *matHeaderCellDef  mat-sort-header>Datum podnošenja</th>
          <td mat-cell *matCellDef="let request">{{request.priznatiDatumPodnosenja}}</td>
        </ng-container>
        <ng-container matColumnDef="pdf">
          <th mat-header-cell *matHeaderCellDef>PDF</th>
          <td mat-cell *matCellDef="let request">
            <button type="button"   mat-button   (click)="downloadP1PDF(request)"><mat-icon>get_app</mat-icon></button>
          </td>
        </ng-container>
        <ng-container matColumnDef="html">
          <th mat-header-cell *matHeaderCellDef>HTML</th>
          <td mat-cell *matCellDef="let request">
            <button type="button"   mat-button  (click)="downloadP1HTML(request)"><mat-icon>get_app</mat-icon></button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsP1"></tr>
        <tr mat-row *matRowDef="let request; columns: displayedColumnsP1;" ></tr>
      </table>
    </div>

  </div>
  <div class="services-div">
    <button mat-raised-button color="primary" (click)="createA1Request()" class="service-option">Podnesi obrazac A-1</button>

    <button mat-raised-button color="primary" (click)="createP1Request()" class="service-option">Podnesi obrazac P-1</button>

    <button mat-raised-button color="primary" (click)="createZ1Request()" class="service-option">Podnesi obrazac Ž-1</button>
  </div>

</div>
