<div class="main-profile-div">
  <div class="profile-info-div">
    <div style="font-size: 35px;">
      <span style="margin-right: 10%;">Pero</span>
      <span>Peric</span>
    </div>
  </div>
  <div class="services-div">
    <button mat-raised-button color="primary" (click)="createA1Request()" class="service-option">Podnesi obrazac A-1</button>

    <button mat-raised-button color="primary" class="service-option">Podnesi obrazac P-1</button>

    <button mat-raised-button color="primary" class="service-option">Podnesi obrazac Ž-1</button>
  </div>

</div>
