<div class="request-div">

  <mat-card  style="background-color: #3F51B5;">
    <mat-card >
      <mat-card-title>A1 Zahtjev</mat-card-title>


      <mat-card-content style="margin-top: 1%;">ID zahtjeva: {{a1request.id}}</mat-card-content>
      <mat-card-content>
        <mat-card-subtitle>Podnosilac</mat-card-subtitle>
        <euprava-submitter [submitter]="a1request.podnosilac"></euprava-submitter>
      </mat-card-content>

      <div *ngIf="a1request.punomocnik !== undefined">
        <mat-card-content>
          <mat-card-subtitle>Punomocnik</mat-card-subtitle>
          <euprava-person [person]="a1request.punomocnik"></euprava-person>
        </mat-card-content>
      </div>

      <mat-card-content>
        <mat-card-subtitle>Djelo</mat-card-subtitle>
        <euprava-piece [piece]="a1request.djelo"></euprava-piece>
      </mat-card-content>

      <mat-card-content>
        <div *ngIf="a1request.sifra_opisa !== undefined">
          <label>Sifra opisa: {{a1request.sifra_opisa}}</label>
        </div>
        <div *ngIf="a1request.sifra_primjera !== undefined">
          <label>Sifra primjera: {{a1request.sifra_primjera}}</label>
        </div>
      </mat-card-content>

      <mat-card-content>
        <mat-card-subtitle>Podaci o prijavi</mat-card-subtitle>
        <div>
          <label>Broj prijave: {{a1request.broj_prijave}}</label>
        </div>
        <div>
          <label>Datum prijave {{a1request.datum_podnosenja | date : "dd.MM.yyyy."}}</label>
        </div>
        <div style="margin-bottom: 2%;text-decoration: underline ;">
          <label style="font-family: Brush Script MT, Brush Script Std, cursive; font-size: 35px;margin-left: 85%;">{{a1request.potpis}}</label>
        </div>
      </mat-card-content>

    </mat-card>


  </mat-card>
</div>
