<div>

  {{this.submitter}}
  <!--
  <div *ngIf="this.isIndividual">
    <div style="display: flex;flex-direction: row;">
      <div style="margin-right: 1%;">
        <label>Email: {{this.submitter.email}}</label>
      </div>
      <div>
        <label>Telefon: {{this.submitter.telefon}}</label>
      </div>
    </div>
    <div>
      <euprava-person [person]="this.individual.podaci_osoba"></euprava-person>
    </div>
  </div>

  <div *ngIf="!this.isIndividual">
    <div>
      <label>Email: {{this.submitter.email}}</label>
    </div>
    <div>
      <label>Telefon: {{this.submitter.telefon}}</label>
    </div>
    <div>
      <label>Pravno Ime: {{this.legal.poslovno_ime}}</label>
    </div>
    <div>
      <euprava-address [address]="this.legal.adresa"></euprava-address>
    </div>
  </div>
-->
</div>
