<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div style="margin-left: 2%; font-size: 25px;cursor: pointer;display: flex; flex-direction: row;" (click)="navigateToProfile()">
        <img src="favicon.ico" style="height: 50px; width: 60px; margin-right:8%" />
        <div style="padding-top: 10%;">
          <span style="font-family: 'Times New Roman', Times, serif;">EUprava</span>
        </div>

      </div>
      <span class="example-spacer"></span>
      <div>
        <button mat-button [matMenuTriggerFor]="menu">{{firstName}} {{lastName}}</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="navigateToProfile()" *ngIf="isClient()">Moji Zahtevi</button>
          <button mat-menu-item (click)="logout()">Odjava</button>
        </mat-menu>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
