<form class="form-div" [formGroup]="forma" (ngSubmit)="submit()">


<div class="main-div">
  <div style="margin-top: 5%;">
    <mat-radio-group formControlName="approve" (change)="updateValidators()" style="display: flex;flex-direction: row; gap: 12px;">
      <mat-radio-button class="column-half" [value]=true>Odobriti</mat-radio-button>
      <mat-radio-button class="column-half" [value]=false>Odbiti</mat-radio-button>
    </mat-radio-group>
  </div>

  <div style="margin-top: 5%;width: 100%;">
    <mat-form-field appearance="fill" style="width: 100%;" *ngIf="forma.value['approve']">
      <input matInput placeholder="Unesite sifru dokumenta" formControlName="code" required>
    </mat-form-field>
    <mat-form-field appearance="fill" style="width: 100%;" *ngIf="!forma.value['approve']">
      <input height="300px" matInput placeholder="Unesite razlog odbijanja" formControlName="reason" required/>
    </mat-form-field>
    <div formGroupName="zavod">
    <mat-form-field appearance="fill" style="width: 100%;">
      <input matInput placeholder="Primerak znaka" formControlName="primerakZnaka" required>
    </mat-form-field>
    <mat-form-field appearance="fill" style="width: 100%;">
      <input matInput placeholder="Spisak robe i usluga" formControlName="spisakRobe" required>
    </mat-form-field>
    <mat-form-field appearance="fill" style="width: 100%;">
      <input matInput placeholder="Punomocje" formControlName="punomocje" required>
    </mat-form-field>
    <label>Punomocje dostavljeno ranije:</label>
    <mat-radio-group style="display: flex; gap: 24px; margin: 20px;" formControlName="punomocjeRanije">
      <mat-radio-button class="column-half" [value]="'DA'">DA</mat-radio-button>
      <mat-radio-button class="column-half" [value]="'NE'">NE</mat-radio-button>
    </mat-radio-group>
    <label>Punomocje ce biti dostavljeno naknadno:</label>
    <mat-radio-group style="display: flex; gap: 24px; margin: 20px;" formControlName="punomocjeNaknadno">
      <mat-radio-button class="column-half" [value]="'DA'">DA</mat-radio-button>
      <mat-radio-button class="column-half" [value]="'NE'">NE</mat-radio-button>
    </mat-radio-group>
    <mat-form-field appearance="fill" style="width: 100%;">
      <input matInput placeholder="Opsti akt o kolektivnom zigu" formControlName="opstiAkt" required>
    </mat-form-field>
    <mat-form-field appearance="fill" style="width: 100%;">
      <input matInput placeholder="Dokaz o pravu prvenstva" formControlName="pravoPrvenstva" required>
    </mat-form-field>
    <mat-form-field appearance="fill" style="width: 100%;">
      <input matInput placeholder="Dokaz o uplati takse" formControlName="uplataTakse" required>
    </mat-form-field>
  </div>
  </div>

  <div style="margin-top: auto;">
    <button mat-raised-button color="primary" type="submit">Potvrdi</button>
  </div>
</div>
</form>
